.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px;
}

.cal-container {
    width: 800px;
    height: 600px;
}

.row {
    display: flex;
    width: 500px;
}